.arrow {
  -webkit-animation: bounceRight 2s infinite;
  animation: bounceRight 2s infinite;
  float: right;
}

@-webkit-keyframes bounceRight {

  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-moz-keyframes bounceRight {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-8px);
  }
}

@keyframes bounceRight {

  0%,
  100% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  50% {
    -ms-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}