.homepage-mid-bg {
    background-image: url('https://img.freepik.com/free-photo/woman-works-with-laptop-home-holds-computer-mouse-her-left-hand_1150-43630.jpg?t=st=1653225169~exp=1653225769~hmac=00d75d7289fb993e9acf78045ce8a52b030e0113a7b025a87610501360c3c0a3&w=996');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vmin;
    background-size: 100% 100vh;
}