.bar {
    display: inline-block;
    position: relative;
  }
  .bar:before {    
    bottom: -4px;
    content: "";
    display: block;
    height: 2.75px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 1s ease-in-out 0s, left 1s ease-in-out 0s;
    width: 0;
  }
  .bar:hover:before { 
    width: 100%; 
    left: 0; 
  }